body {
  background-image:  url("../images/full-bloom.png");
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


h1 {
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  
}

.container {
background-color: orchid;
width:  960px;
position: absolute;
margin: -200px 0 0 -500px;
left: 50%;
top: 50%;

}

#bio {
  padding-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:  20px;
  margin-left: 10px;

}
nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  background: whitesmoke;
  justify-content: space-between;
  margin-right: 250px;
  border-bottom: 1px solid gray;
              
    }

nav > .name {
  background-color: orchid;
  padding: 15px;
  border: none;
  font-size: 20px;
  margin-left: 500px;
  
}

  .name {
    color: black;
    margin-left: 250px;
    border: 1px solid black;
  
        
  }

    .navPills {
      display: flex;
      align-items: center;
      margin-right: 550px;
      
    }

    .navPills div a {
      padding-left: 4px;
      padding-right: 4px;
      color:black;
          
    }
.form {
background-color: orchid;
width: 960px;
padding: 20px;
position: absolute;
margin: -200px 0 0 -500px;
left: 50%;
top: 50%;

}

input {
width: 100%;
}

textarea{
  width: 100%;
  height: 100px;
}

#submit {
  width: 20%;
  margin-top: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: black;
    text-align: center;
     border-top: 5px solid orchid;
    
}

.fcontainer {
background-color: orchid;
width:  960px;
position: absolute;
margin: -200px 0 0 -500px;
left: 50%;
top: 50%;


}

.flex-container {
 display: grid;
  grid-gap: 10px;
  grid-row-gap: 10px;
  height: 100px;
  grid-template-columns: 300px 300px;
  background-color: orchid;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  justify-content: center;

}